@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    position: relative;
}

header .logo {
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    text-decoration: none;
    font-size: 30px;
}

header .logo span {
    color: #78ff00;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin: 0 20px;
}

header ul li a {
    position: relative;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 4px 10px;
}

header ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #78ff00;
    z-index: -1;
    transition: 0.5s ease-in-out;
}

header ul li a:hover::before,
header ul li a.active::before {
    width: 40px;
}


header ul li:nth-child(2) a,
header ul li:nth-child(3) a {
    color: #fff;
}


.container {
    position: relative;
    padding: 0 100px;
    min-height: 100vh;
}

.container:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 370px;
    height: 100%;
    background: #333;
    z-index: -2;
}

.container:after {
    content: "contact";
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18vw;
    font-weight: 700;
    color: #000;
    opacity: 0.04;
    z-index: -2;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.content .banner-text {
    position: relative;
    max-width: 500px;
    margin-right: 50px;
}

.content .banner-text div {
    display: none;
}

.content .banner-text div.active {
    display: initial;
}

.content .banner-text h2 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.2em;
    color: #333;
}

.content .banner-text p {
    font-size: 18px;
    color: #333;
    line-height: 1.8em;
    margin: 20px 0;
}

.content .banner-text a {
    color: #333;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 18px;
    text-decoration: none;
    padding: 13px;
}

.content .banner-text a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background: #78ff00;
    z-index: -1;
    transition: 0.5s ease-in-out;
}

.content .banner-text a:hover::before {
    width: 100%;
}

.content .bannerimg {
    position: relative;
    width: 440px;
    height: 440px;
    background: transparent;
}

.content .bannerimg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    opacity: 0;
}

.content .bannerimg img.active {
    opacity: 1;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.icons .sci,
.icons .controls {
    position: relative;
    display: flex;
}

.icons .sci li {
    list-style: none;
    margin-right: 30px;
}

.icons .sci li img {
    display: inline-block;
    max-height: 24px;
    transition: 0.5s ease-in-out;
}

.icons .sci li:hover img {
    transform: translateY(-10px);
}

.icons .controls li {
    list-style: none;
    margin-left: 20px;
    cursor: pointer;
    filter: invert(1);
    transition: 0.5s ease-in-out;
}

.icons .controls li:hover {
    opacity: 0.5;
}

.icons #envoiMail {
    color: #fff;
}

.menuIcon {
    display: none;
}

#succesMail {
    text-align: center;
    color: #fff;
    background-color: #78ff00;
}


.content1 {
    font-family: 'poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    /* transition: background 0.5s ease-in-out; */
}

form {
    transition: background 0.5s ease-in-out;
}

.submitButton {
    background-color: #78ff00;
    color: #333;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 10px;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;

}

input,
textarea {
    border: none;
    outline: none;
    flex: 1;
    height: 100%;
    width: 100%;
}

.contactList i {
    padding-right: 10px;
}

.field-name,
.field-email,
.field-message,
.field-finish {
    border: 1px solid #78ff00;
    height: 45px;
    width: 400px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}



.field-message {
    height: 60px;
}

.field-name i,
.field-email i,
.field-message i,
.field-finish {
    padding: 10px;
    cursor: pointer;
}

.field-finish {
    pointer-events: none;
}

.field-finish p {
    padding: 30px;
}

div.inactive {
    opacity: 0.2;
    pointer-events: none;
    transform: scale(0.5);
}

div.active {
    opacity: 1;
    pointer-events: all;
    transform: scale(1.2);
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg)
    }
}

/* ---------- media query ---------- */

@media(max-width: 992px) {
    .container {
        padding: 20px 50px;
    }

    .container:before {
        display: none;
    }

    header {
        padding: 0;
    }

    .icons .controls li {
        filter: invert(0);
    }

    .content .banner-text h2 {
        font-size: 30px;
    }

    .content {
        margin-top: 0;
        flex-direction: column-reverse;
    }

    .content .bannerimg {
        max-width: 60vw;
        height: 60vh;
        margin: 20px 0;
    }

    .field-name,
    .field-email,
    .field-message,
    .field-finish {
        width: 100%;
    }

    .field-name i,
    .field-email i,
    .field-message i,
    .field-finish {
        padding: 8px
    }

    .field-finish p {
        font-size: 15px;
        padding: 10px;
    }

    .content .banner-text {
        max-width: 100%;
        padding-right: 0;
    }

    div.inactive {
        opacity: 0.2;
        pointer-events: none;
        transform: scale(0.5);
    }

    div.active {
        opacity: 1;
        pointer-events: all;
        transform: scale(1.2);
    }

    header ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #fff;
        z-index: 10000;
        padding: 100px 0;
    }

    header.active ul {
        display: initial;
    }

    header ul li {
        padding: 20px;
        text-align: center;
    }

    header ul li a {
        color: #333 !important;
        font-size: 35px;
    }

    header ul li a:hover::before,
    header ul li a.active::before {
        width: 100%;
    }

    .menuIcon {
        display: initial;
        position: fixed;
        right: 50px;
        cursor: pointer;
        padding: 8px;
        z-index: 10000;
        background: #fff url(img/menu-of-three-lines.png);
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: 6px;
    }

    header.active .menuIcon {
        background: #fff url(img/cross.png);
        background-repeat: no-repeat;
        background-position: 6px;
    }

    form {
        padding-top: 30px;
    }
}

@media(max-width: 767) {
    .container {
        padding: 20px 30px;
    }

    .menuIcon {
        right: 30px;
    }

    .icons .controls li img {
        max-width: 40px;
    }

    div.inactive {
        opacity: 0.2;
        pointer-events: none;
        transform: scale(0.5);
    }

    div.active {
        opacity: 1;
        pointer-events: all;
        transform: scale(1);
    }


    form {
        padding-top: 20px;
    }
}