@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    position: relative;
}

header .logo {
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    text-decoration: none;
    font-size: 30px;
}

header .logo span {
    color: #78ff00;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin: 0 20px;
}

header ul li a {
    position: relative;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 4px 10px;
}

header ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #78ff00;
    z-index: -1;
    transition: 0.5s ease-in-out;
}

header ul li a:hover::before,
header ul li a.active::before {
    width: 40px;
}


header ul li:nth-child(2) a,
header ul li:nth-child(3) a {
    color: #fff;
}

.item1 {
    opacity: 0;
}

.item2 {
    opacity: 0;
}

.item3 {
    opacity: 0;
}


.container {
    position: relative;
    padding: 0 100px;
    min-height: 100vh;
}

.container:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 370px;
    height: 100%;
    background: #333;
    z-index: -2;
}

.container:after {
    content: "Healthy";
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18vw;
    font-weight: 700;
    color: #000;
    opacity: 0.04;
    z-index: -2;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.content .banner-text {
    position: relative;
    max-width: 500px;
    margin-right: 50px;
}

.content .banner-text div {
    display: none;
}

.content .banner-text div.active {
    display: initial;
}

.content .banner-text h2 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.2em;
    color: #333;
}

.content .banner-text p {
    font-size: 18px;
    color: #333;
    line-height: 1.8em;
    margin: 20px 0;
}

.content .banner-text a {
    color: #333;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 18px;
    text-decoration: none;
    padding: 13px;
}

.content .banner-text a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background: #78ff00;
    z-index: -1;
    transition: 0.5s ease-in-out;
}

.content .banner-text a:hover::before {
    width: 100%;
}

.content .bannerimg {
    position: relative;
    width: 440px;
    height: 440px;
    background: #000;
}

.content .bannerimg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    opacity: 0;
}

.content .bannerimg img.active {
    opacity: 1;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.icons .sci,
.icons .controls {
    position: relative;
    display: flex;
}

.icons .sci li {
    list-style: none;
    margin-right: 30px;
}

.icons .sci li img {
    display: inline-block;
    max-height: 24px;
    transition: 0.5s ease-in-out;
}

.icons .sci li:hover img {
    transform: translateY(-10px);
}

.icons .controls li {
    list-style: none;
    margin-left: 20px;
    cursor: pointer;
    filter: invert(1);
    transition: 0.5s ease-in-out;
}

.icons .controls li:hover {
    opacity: 0.5;
}

.menuIcon {
    display: none;
}

.poup-wrapper {
    background: rgba(51, 51, 51, 0.808);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    font-family: 'Poppins';
    text-align: center;
    width: 100%;
    /* petits ecrans*/
    max-width: 300px;
    /* grands ecrans*/
    margin: 20% auto;
    padding: 50px;
    background: #fff;
    position: relative;
    color: #333;
}

.popupP {
    padding-bottom: 20px;
}

.popup a {
    background: #78ff00;
    color: #333;
    text-decoration: none;
    padding: 6px 10px;
}

.poup-close {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

.cookie-container {
    position: fixed;
    bottom: -100;
    left: 0;
    right: 0;
    background: #333;
    color: white;
    padding: 0 20px;
    box-shadow: 0 -2px 16px rgba(51, 51, 51, 0.397);

    transition: 400ms;
}

.ccokie-container a {
    color: white;
}

.cookie-container.active {
    bottom: 0;
}

.cookie-btn {
    background: #78ff00;
    border: 0;
    outline: 0;
    color: #333;
    font-weight: 700;
    padding: 12px;
    font-size: 18px;
    margin-bottom: 16px;
    cursor: pointer;
    text-transform: uppercase;
}

.cookie-para {
    margin: 8px;
}

/* ---------- media query ---------- */

@media(max-width: 992px) {
    .container {
        padding: 20px 50px;
    }

    .container:before {
        display: none;
    }

    header {
        padding: 0;
    }

    .icons .controls li {
        filter: invert(0);
    }

    .content .banner-text h2 {
        font-size: 30px;
    }

    .content {
        margin-top: 0;
        flex-direction: column-reverse;
    }

    .content .bannerimg {
        width: 100%;
        height: 40vh;
        margin: 20px 0;
    }

    .content .banner-text {
        max-width: 100%;
        padding-right: 0;
    }

    header ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #fff;
        z-index: 10000;
        padding: 100px 0;
    }

    header.active ul {
        display: initial;
    }

    header ul li {
        padding: 20px;
        text-align: center;
    }

    header ul li a {
        color: #333 !important;
        font-size: 35px;
    }

    header ul li a:hover::before,
    header ul li a.active::before {
        width: 100%;
    }

    .menuIcon {
        display: initial;
        position: fixed;
        right: 50px;
        cursor: pointer;
        padding: 8px;
        z-index: 10000;
        background: #fff url(img/menu-of-three-lines.png);
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: 6px;
    }

    header.active .menuIcon {
        background: #fff url(img/cross.png);
        background-repeat: no-repeat;
        background-position: 6px;
    }

    .popup {
        font-family: 'Poppins';
        text-align: center;
        width: 100%;
        /* petits ecrans*/
        max-width: 300px;
        /* grands ecrans*/
        margin: 30% auto;
        padding: 50px;
        background: #fff;
        position: relative;
        color: #333;
    }

}

@media(max-width: 767) {
    container {
        padding: 20px 30px;
    }

    .menuIcon {
        right: 30px;
    }

    .icons .controls li img {
        max-width: 40px;
    }

    .popup {
        font-family: 'Poppins';
        text-align: center;
        width: 100%;
        /* petits ecrans*/
        max-width: 300px;
        /* grands ecrans*/
        margin: 30% auto;
        padding: 50px;
        background: #fff;
        position: relative;
        color: #333;
    }
}